<div class="topic">
    <h2 class="topic-title">
        <a href="@{Application.topic(_topic.id)}">${_topic.title}</a>
    </h2>

    <div class="topic-metadata">
        <span class="topic-author">
            by ${_topic.author.name}
        </span>
        <span class="topic-date">
            ${_topic.createdAt.format('dd MMM yyyy')}
        </span>
        <div class="topic-votes">
            <span id="score_${_topic.id}">${_topic.getScore()}</span>
            <a href="#" onclick="voteUp(${_topic.id}, $('#score_${_topic.id}'))">+1</a>
            <a href="#" onclick="voteDown(${_topic.id}, $('#score_${_topic.id}'))">-1</a>
        </div>
    </div>
    #{if _as == 'full'}
        <div class="topic-content">
            ${_topic.description}
        </div>
    #{/if}
</div>