*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*
<div class="topic">
    <h2 class="topic-title">
        <a href="@{Application.topic(_topic.id)}">${_topic.title}</a>
    </h2>

    <div class="topic-metadata">
        <span class="topic-author">
            by ${_topic.author.name}
        </span>
        <span class="topic-date">
            ${_topic.createdAt.format('dd MMM yyyy')}
        </span>
        <div class="topic-votes">
            ${_topic.getScore()}
            <a href="@{voteUp(_topic.id)}">+1</a>
            <a href="@{voteDown(_topic.id)}">-1</a>
        </div>
    </div>
    #{if _as == 'full'}
        <div class="topic-content">
            ${_topic.description}
        </div>
    #{/if}
</div>