#{extends 'main.html' /}
#{set title:'Home' /}

#{if flash.error}
<p style="color:#c00">
    ${flash.error}
</p>
#{/if}

<!--<form action="@{Application.sayHello()}" method="GET">-->
<!--<input type="text" name="myName" />-->
<!--<input type="submit" value="Say hello!" />-->
<!--</form>-->

<div class="topics">
    <h3>Topics</h3>

    #{list items:topics, as:'topic'}
    <div class="topic">
        <h2 class="topic-title">
            <a href="#">${topic.title}</a>
        </h2>
        <div class="topic-metadata">
            <span class="topic-author">
                by ${topic.author.name}
            </span>
            <span class="topic-date">
                ${topic.createdAt.format('dd MMM yy')}
            </span>

            <div class="topic-votes">
                ${topic.votes.size() ?: 'no'}
                vote${topic.votes.pluralize()}
                #{if topic.votes}
                - latest by ${topic.votes[-1].user.name}
                #{/if}
            </div>
        </div>
        <div class="topic-content">
            ${topic.description}
        </div>
    </div>
    #{/list}
</div>